Node Red/noisesanpic.json
[{"id":"7ebc8aab.4bbdb4","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"88ebfbc.cd76908","type":"function","z":"7ebc8aab.4bbdb4","name":"Connection parameter","func":"msg.username = 'sgroup12';\nmsg.password = 'salzach2017$';\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":640,"wires":[["743c55e2.475d5c"]]},{"id":"8c6f64d2.be6988","type":"function","z":"7ebc8aab.4bbdb4","name":"insert into DB table","func":"msg.payload = \"INSERT INTO sgroup12.airport_noise_salzburg (sensor_id, lat, long, time, noise, distance, duration, type, sensor_date) VALUES ('\"+ msg.payload.sensor_id + \"',\" + msg.payload.lat + \",\" + msg.payload.long + \",'\" + msg.payload.time + \"',\" +  msg.payload.noise + \",\" + msg.payload.distance +  \",\" + msg.payload.duration + \",'\" + msg.payload.type+ \"', CURRENT_DATE-1);\";\nreturn msg;\n","outputs":1,"noerr":0,"x":670,"y":580,"wires":[["88ebfbc.cd76908"]]},{"id":"743c55e2.475d5c","type":"postgres","z":"7ebc8aab.4bbdb4","postgresdb":"bbf9b9c1.715a38","name":"postgres conn","output":true,"outputs":1,"x":960,"y":640,"wires":[[]]},{"id":"edd3280a.e60b88","type":"change","z":"7ebc8aab.4bbdb4","name":"","rules":[{"t":"delete","p":"payload.typeIco","pt":"msg"},{"t":"set","p":"payload.sensor_id","pt":"msg","to":"NMT5","tot":"str"},{"t":"set","p":"payload.lat","pt":"msg","to":"47.7854","tot":"num"},{"t":"set","p":"payload.long","pt":"msg","to":"13.01158","tot":"num"},{"t":"set","p":"payload.noise","pt":"msg","to":"$number(payload.noise)","tot":"jsonata"},{"t":"set","p":"payload.distance","pt":"msg","to":"$number(payload.distance)","tot":"jsonata"},{"t":"set","p":"payload.duration","pt":"msg","to":"$number(payload.duration)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":460,"wires":[["8c6f64d2.be6988"]],"info":" * Delete icon object property\n * Set id of the noise measurement station\n * Change datatypes for noise, distance and duration"},{"id":"e45deab3.1792b8","type":"function","z":"7ebc8aab.4bbdb4","name":"Remove units","func":"var output_duration = msg.payload.duration.split(\" \");\nmsg.payload.duration = output_duration[0];\n\nvar output_distance = msg.payload.distance.split(\" \");\nmsg.payload.distance = output_distance[0];\n\nreturn [msg];\n","outputs":1,"noerr":0,"x":420,"y":500,"wires":[["edd3280a.e60b88"]]},{"id":"caacdd30.fda6a","type":"switch","z":"7ebc8aab.4bbdb4","name":"delete empty rows","property":"payload.type","propertyType":"msg","rules":[{"t":"nempty"},{"t":"gte","v":"payload.noise","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":400,"wires":[["e45deab3.1792b8"],[]],"info":"Removal of entries without flight match"},{"id":"51075900.9be908","type":"split","z":"7ebc8aab.4bbdb4","name":"split json","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":380,"y":280,"wires":[["820139db.6d9bf8","caacdd30.fda6a"]]},{"id":"3ac33143.972f5e","type":"http request","z":"7ebc8aab.4bbdb4","name":"get request","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":150,"y":280,"wires":[["51075900.9be908"]]},{"id":"de9e2f6a.d6484","type":"function","z":"7ebc8aab.4bbdb4","name":"Create URL","func":"var today = new Date();\n\nurl = \"https://www.salzburg-airport.com/en/thecompany/environment/noise-events/?getNoiseJSON=1&day=\" + today.getFullYear() + \"-\" + (today.getMonth() + 1) + \"-\" + (today.getDate() -1) + \"&from=00%3A01&to=23%3A59&location=5\"\n\nmsg.url = url;\n\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":180,"wires":[["3ac33143.972f5e"]]},{"id":"1f7f6ff7.24881","type":"inject","z":"7ebc8aab.4bbdb4","name":"24 h","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":80,"wires":[["de9e2f6a.d6484"]]},{"id":"820139db.6d9bf8","type":"debug","z":"7ebc8aab.4bbdb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":180,"wires":[]},{"id":"bbf9b9c1.715a38","type":"postgresdb","z":"","hostname":"zgis226.geo.sbg.ac.at","port":"5432","db":"s20_856162_sde","ssl":false}]