Node Red/Request_airtraffic_data.json
[{"id":"1c9a84de.f5b1fb","type":"tab","label":"Request Airtraffic Dara from Opensky","disabled":false,"info":""},{"id":"958c1e9.7b041e","type":"inject","z":"1c9a84de.f5b1fb","name":"Query every 5mins","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":140,"wires":[["b0e7d1.cfde583"]]},{"id":"b0e7d1.cfde583","type":"http request","z":"1c9a84de.f5b1fb","name":"opensky","method":"GET","ret":"obj","paytoqs":false,"url":"https://opensky-network.org/api/states/all?lamin=47.5&lomin=12.6&lamax=48.5&lomax=13.3","tls":"","proxy":"","authType":"","x":420,"y":140,"wires":[["1ec5bed7.da48b1"]]},{"id":"7509e4fa.4e827c","type":"debug","z":"1c9a84de.f5b1fb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":140,"wires":[]},{"id":"1ec5bed7.da48b1","type":"function","z":"1c9a84de.f5b1fb","name":"flight payload","func":"var allFlights=msg.payload.states;\nvar filteredFlights = [];\n\nfor (var i = 0, len = allFlights.length; i < len; i++) {\n  // get longitude not null flights only\n  if (allFlights[i][5]){\n    filteredFlights.push(allFlights[i]);\n  }\n}\n\nmsg.payload=filteredFlights;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":260,"wires":[["33b3eab1.cb5706"]]},{"id":"33b3eab1.cb5706","type":"split","z":"1c9a84de.f5b1fb","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":810,"y":260,"wires":[["f7d549b5.4e4178"]]},{"id":"f7d549b5.4e4178","type":"function","z":"1c9a84de.f5b1fb","name":"flight json","func":"var flight = {        flight_callsign: msg.payload[1],     flight_origincountry: msg.payload[2],     flight_time: msg.payload[3],     latitude:msg.payload[6],     longitude:msg.payload[5],    bearing:msg.payload[10],    speed:msg.payload[9]*3.6,    altitude_barometric: msg.payload[7],    altitude_geometric: msg.payload[13],    extrainfo:msg.payload[0]    };msg.payload = flight;return msg;","outputs":1,"noerr":0,"x":1000,"y":260,"wires":[["7509e4fa.4e827c","b25ae4ec.c5f0d8"]]},{"id":"b25ae4ec.c5f0d8","type":"mqtt out","z":"1c9a84de.f5b1fb","name":"output","topic":"/zgis/20S856162/sgroup18/airtraffic5m/","qos":"","retain":"","broker":"84b9d947.381a68","x":1020,"y":400,"wires":[]},{"id":"84b9d947.381a68","type":"mqtt-broker","z":"","name":"output@mqtt.eclipse.org","broker":"mqtt.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]