Node Red/ss_node_python_with_template.json
[{"id":"f48509cc.9b84d8","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"cea85ddb.95969","type":"template","z":"f48509cc.9b84d8","name":"","field":"payload","fieldType":"msg","format":"text","syntax":"plain","template":"import datetime \ntod = datetime.datetime.now()\nd = datetime.timedelta(days = 5)\na = tod - d\n\nyesterday=a.strftime(\"%Y-%m-%d\")\n\nurl='https://www.salzburg-airport.com/en/thecompany/environment/noise-events/?getNoiseJSON=1&day={0}&from=00%3A00&to=23%3A59&location=5&no_cache=1'\ndate=yesterday\nnewUrl=url.format(yesterday,5)\nnewUrl\n\n\n\nimport requests\njsonObj=requests.get(newUrl).json()\n\n\n\n\n\n","output":"str","x":440,"y":180,"wires":[["ad034b09.5c2bd8"]]},{"id":"e72f95ba.1e8978","type":"inject","z":"f48509cc.9b84d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":180,"wires":[["cea85ddb.95969"]]},{"id":"ad034b09.5c2bd8","type":"file in","z":"f48509cc.9b84d8","name":"","filename":"noise.py","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":680,"y":180,"wires":[["76cdfa7a.4b35e4"]]},{"id":"76cdfa7a.4b35e4","type":"debug","z":"f48509cc.9b84d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":180,"wires":[]},{"id":"dc41c3a5.85248","type":"pythonshell in","z":"f48509cc.9b84d8","name":"run noise.py","pyfile":"C:/Users/Dell/Documents/opensky/Noise_station5a.py","virtualenv":"","continuous":true,"stdInData":false,"x":450,"y":360,"wires":[["1fcbe241.bb84ae"]]},{"id":"e3e79643.196dc8","type":"inject","z":"f48509cc.9b84d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":259,"y":282,"wires":[["dc41c3a5.85248"]]},{"id":"1fcbe241.bb84ae","type":"debug","z":"f48509cc.9b84d8","name":"","active":true,"console":"false","complete":"false","x":656,"y":439,"wires":[]}]